<a href="https://colab.research.google.com/github/Temur0122/NumPy_kutubxonasi_bilan_ishlash/blob/main/Transpose_swapping_axes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
A =np.arange(6).reshape(3,2)
A

array([[0, 1],
       [2, 3],
       [4, 5]])

In [15]:
A.T # A.T =A^T

array([[0, 2, 4],
       [1, 3, 5]])

# Swapping axes

In [20]:
A

array([[0, 1],
       [2, 3],
       [4, 5]])

In [19]:
A.swapaxes(1,0)

array([[0, 2, 4],
       [1, 3, 5]])

# Massivlarni ko'paytirish AA^T=A*A^t

In [21]:
np.dot(A, A.T) #bu natija AA^T

array([[ 1,  3,  5],
       [ 3, 13, 23],
       [ 5, 23, 41]])